<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-md" style="background-color:#333;">
    <div class="container" >
        <a href="{% url 'prj:page' %}"><h3 style="margin-bottom:0;">Criminal Anatomy</h3></a>
        <div class="nav nav-masthead justify-content-center" id="navbarSupportedContent" style = "right">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item"><a class="nav-link" href="{% url 'prj:about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'prj:data' %}">Analysis</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'prj:map' %}">Map</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (Logout)</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'common:login' %}">Login</a></li>
                {% endif %}
                <li class="nav-item">
                    {% if not user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:signup' %}">Signup</a>
                    {% endif %}
                </li>  
            </ul>
        </div>
    </div>
</nav>